@model CMSAdminWeb.WebUI.Models.LoginViewModel
@{
    ViewBag.Title = "管理员登录 | CMS";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="~/Scripts/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="~/Content/cloud-admin.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/Image/gritter/cloud.png" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <!-- UNIFORM -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/uniform/css/uniform.default.min.css" />
    <!-- ANIMATE -->
    <link rel="stylesheet" type="text/css" href="~/Content/animatecss/animate.min.css" />
    <!-- FONTS -->
    @* <!--<link href='<!--<link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>-->' rel='stylesheet' type='text/css'>-->*@
</head>
<body class="login">
    <!-- PAGE -->
    <section id="page">
        <!-- HEADER -->
        <header>
            <!-- NAV-BAR -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div id="logo">
                            <a href="index.html"><img src="/Image/logo/logo.png" height="40" alt="logo name" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/NAV-BAR -->
        </header>
        <!--/HEADER -->
        <!-- LOGIN -->
        <section id="login" class="visible">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-box-plain">
                            <h2 class="bigintro">管 理 员 登 录</h2>
                            <div class="divide-10"></div>
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary()
                                <div class="form-group">
                                    <label for="exampleInputEmail1">管理员账户</label>
                                    <i class="fa fa-envelope"></i>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">管理员密码</label>
                                    <i class="fa fa-lock"></i>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-danger">登 录</button>
                                </div>
                                }
                            <!-- SOCIAL LOGIN -->
                            <div class="divide-10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/LOGIN -->
    </section>
    <!--/PAGE -->
    <!-- JAVASCRIPTS -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- JQUERY -->
    <script src="~/Scripts/jquery/jquery-2.0.3.min.js"></script>
    <!-- JQUERY UI-->
    <script src="~/Scripts/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="~/Content/bootstrap-dist/js/bootstrap.min.js"></script>


    <!-- UNIFORM -->
    <script type="text/javascript" src="~/Scripts/uniform/jquery.uniform.min.js"></script>
    <!-- CUSTOM SCRIPT -->
    <script src="~/Scripts/script.js"></script>
    <script>
        var account = document.getElementById("UserName");
        account.focus();
    </script>
    <script>
        jQuery(document).ready(function () {
            App.setPage("login");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
    <script type="text/javascript">
        function swapScreen(id) {
            jQuery('.visible').removeClass('visible animated fadeInUp');
            jQuery('#' + id).addClass('visible animated fadeInUp');
        }
    </script>
    <!-- /JAVASCRIPTS -->
</body>
</html>