<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title> 机房管理系统 CMS</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="~/Scripts/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="~/Content/cloud-admin.css">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/default.css" id="skin-switcher">
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/Image/gritter/cloud.png"/>
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <!-- FONTS -->

    @* <!--<link href='<!--<link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>-->' rel='stylesheet' type='text/css'>-->*@
</head>
<body>
        <!-- HEADER -->
    @{
        CMSAdminWeb.WebUI.Models.Overview overview = new CMSAdminWeb.WebUI.Models.Overview();
        Html.RenderPartial("HeaderPart", overview);
    }
       
        <!--/HEADER -->
        <!-- PAGE -->
        <div id="page">
            <!-- SIDEBAR -->
            @{
                Html.RenderPartial("SiderBarPart", overview); 
            }
          
            <!-- /SIDEBAR -->
            <div id="main-content">
                <div class="container">
                    <div class="row" >
                        <div id="content" class="col-lg-12">
                            <!-- PAGE HEADER-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="page-header">
                                        <div class="description" style="min-height:650px">
                                               @RenderBody()
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /PAGE HEADER -->
                        </div>
                </div>
                    <div class="footer" >
                        <div class="center">
                            机房计算机管理系统 (CMS) | <a href="http://59.72.194.42" target="_blank">软件研发中心</a> @@ @DateTime.Now.Year
                        </div>
                    </div>
                </div>
        </div>
            </div>
    <!--/PAGE -->
    <!-- JAVASCRIPTS -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- JQUERY -->
    <script src="~/Scripts/jquery/jquery-2.0.3.min.js"></script>
    <!-- JQUERY UI-->
    <script src="~/Scripts/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <!-- BOOTSTRAP -->
    <script src="~/Content/bootstrap-dist/js/bootstrap.min.js"></script>


    <!-- DATE RANGE PICKER -->
    <script src="~/Scripts/bootstrap-daterangepicker/moment.min.js"></script>

    <script src="~/Scripts/bootstrap-daterangepicker/daterangepicker.min.js"></script>
    <!-- SLIMSCROLL -->
    <script type="text/javascript" src="~/Scripts/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js"></script>
    <!-- COOKIE -->
    <script type="text/javascript" src="~/Scripts/jQuery-Cookie/jquery.cookie.min.js"></script>
    <!-- CUSTOM SCRIPT -->
    <script src="~/Scripts/script.js"></script>
    <script>
        jQuery(document).ready(function () {
            //App.setPage("widgets_box");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
    
    <!-- /JAVASCRIPTS -->
</body>
</html>