@{
    ViewBag.Title = "机房机器信息管理";
}
@using CMSAdminWeb.WebUI.Models
@*可以使用xml文件定义界面文字，这样可以实现一些更换语言的功能，但为了快速而且暂时没有这种需求，所以暂不使用*@
@*@using CMSAdminWeb.WebUI.HelpClasses;
@{
    XMLReader xmlreader = new XMLReader();
    xmlreader.ReadXml();
}*@

        <!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
        <div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Box Settings</h4>
                    </div>
                    <div class="modal-body">
                        Here goes box setting content.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->

            <div class="row">
                    <!-- PAGE HEADER-->
                @{
                    Html.RenderPartial("PageHeader", new PageHeaderModel() {OwnerRole="高级权限",CurrentPage=@ViewBag.Title });
                } 
                    <!-- /PAGE HEADER -->
                    <!-- DATA TABLES -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BOX -->
                            <div class="box border green">
                                <div class="box-title">
                                    <h4><i class="fa fa-table"></i>Dynamic Data Tables</h4>
                                    <div class="tools hidden-xs">
                                        <a href="#box-config" data-toggle="modal" class="config">
                                            <i class="fa fa-cog"></i>
                                        </a>
                                        <a href="javascript:;" class="reload">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                        <a href="javascript:;" class="collapse">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a href="javascript:;" class="remove">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Rendering engine</th>
                                                <th>Browser</th>
                                                <th class="hidden-xs">Platform(s)</th>
                                                <th>Engine version</th>
                                                <th class="hidden-xs">CSS grade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeX">
                                                <td>Trident</td>
                                                <td>
                                                    Internet
                                                    Explorer
                                                    4.0
                                                </td>
                                                <td class="hidden-xs">Win 95+</td>
                                                <td class="center">4</td>
                                                <td class="center hidden-xs">X</td>
                                            </tr>
                                            <tr class="gradeC">
                                                <td>Trident</td>
                                                <td>
                                                    Internet
                                                    Explorer 5.0
                                                </td>
                                                <td class="hidden-xs">Win 95+</td>
                                                <td class="center">5</td>
                                                <td class="center hidden-xs">C</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Trident</td>
                                                <td>
                                                    Internet
                                                    Explorer 5.5
                                                </td>
                                                <td class="hidden-xs">Win 95+</td>
                                                <td class="center">5.5</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Trident</td>
                                                <td>
                                                    Internet
                                                    Explorer 6
                                                </td>
                                                <td class="hidden-xs">Win 98+</td>
                                                <td class="center">6</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Trident</td>
                                                <td>Internet Explorer 7</td>
                                                <td class="hidden-xs">Win XP SP2+</td>
                                                <td class="center">7</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Trident</td>
                                                <td>AOL browser (AOL desktop)</td>
                                                <td class="hidden-xs">Win XP</td>
                                                <td class="center">6</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Firefox 1.0</td>
                                                <td class="hidden-xs">Win 98+ / OSX.2+</td>
                                                <td class="center">1.7</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Firefox 1.5</td>
                                                <td class="hidden-xs">Win 98+ / OSX.2+</td>
                                                <td class="center">1.8</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Firefox 2.0</td>
                                                <td class="hidden-xs">Win 98+ / OSX.2+</td>
                                                <td class="center">1.8</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Firefox 3.0</td>
                                                <td class="hidden-xs">Win 2k+ / OSX.3+</td>
                                                <td class="center">1.9</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Camino 1.0</td>
                                                <td class="hidden-xs">OSX.2+</td>
                                                <td class="center">1.8</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Camino 1.5</td>
                                                <td class="hidden-xs">OSX.3+</td>
                                                <td class="center">1.8</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Netscape 7.2</td>
                                                <td class="hidden-xs">Win 95+ / Mac OS 8.6-9.2</td>
                                                <td class="center">1.7</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Netscape Browser 8</td>
                                                <td class="hidden-xs">Win 98SE+</td>
                                                <td class="center">1.7</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Netscape Navigator 9</td>
                                                <td class="hidden-xs">Win 98+ / OSX.2+</td>
                                                <td class="center">1.8</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.0</td>
                                                <td class="hidden-xs">Win 95+ / OSX.1+</td>
                                                <td class="center">1</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.1</td>
                                                <td class="hidden-xs">Win 95+ / OSX.1+</td>
                                                <td class="center">1.1</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.2</td>
                                                <td class="hidden-xs">Win 95+ / OSX.1+</td>
                                                <td class="center">1.2</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.3</td>
                                                <td class="hidden-xs">Win 95+ / OSX.1+</td>
                                                <td class="center">1.3</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.4</td>
                                                <td class="hidden-xs">Win 95+ / OSX.1+</td>
                                                <td class="center">1.4</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.5</td>
                                                <td class="hidden-xs">Win 95+ / OSX.1+</td>
                                                <td class="center">1.5</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.6</td>
                                                <td class="hidden-xs">Win 95+ / OSX.1+</td>
                                                <td class="center">1.6</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.7</td>
                                                <td class="hidden-xs">Win 98+ / OSX.1+</td>
                                                <td class="center">1.7</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Mozilla 1.8</td>
                                                <td class="hidden-xs">Win 98+ / OSX.1+</td>
                                                <td class="center">1.8</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Seamonkey 1.1</td>
                                                <td class="hidden-xs">Win 98+ / OSX.2+</td>
                                                <td class="center">1.8</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Gecko</td>
                                                <td>Epiphany 2.20</td>
                                                <td class="hidden-xs">Gnome</td>
                                                <td class="center">1.8</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>Safari 1.2</td>
                                                <td class="hidden-xs">OSX.3</td>
                                                <td class="center">125.5</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>Safari 1.3</td>
                                                <td class="hidden-xs">OSX.3</td>
                                                <td class="center">312.8</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>Safari 2.0</td>
                                                <td class="hidden-xs">OSX.4+</td>
                                                <td class="center">419.3</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>Safari 3.0</td>
                                                <td class="hidden-xs">OSX.4+</td>
                                                <td class="center">522.1</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>OmniWeb 5.5</td>
                                                <td class="hidden-xs">OSX.4+</td>
                                                <td class="center">420</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>iPod Touch / iPhone</td>
                                                <td class="hidden-xs">iPod</td>
                                                <td class="center">420.1</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Webkit</td>
                                                <td>S60</td>
                                                <td class="hidden-xs">S60</td>
                                                <td class="center">413</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 7.0</td>
                                                <td class="hidden-xs">Win 95+ / OSX.1+</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 7.5</td>
                                                <td class="hidden-xs">Win 95+ / OSX.2+</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 8.0</td>
                                                <td class="hidden-xs">Win 95+ / OSX.2+</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 8.5</td>
                                                <td class="hidden-xs">Win 95+ / OSX.2+</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 9.0</td>
                                                <td class="hidden-xs">Win 95+ / OSX.3+</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 9.2</td>
                                                <td class="hidden-xs">Win 88+ / OSX.3+</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera 9.5</td>
                                                <td class="hidden-xs">Win 88+ / OSX.3+</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Opera for Wii</td>
                                                <td class="hidden-xs">Wii</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Nokia N800</td>
                                                <td class="hidden-xs">N800</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Presto</td>
                                                <td>Nintendo DS browser</td>
                                                <td class="hidden-xs">Nintendo DS</td>
                                                <td class="center">8.5</td>
                                                <td class="center hidden-xs">C/A<sup>1</sup></td>
                                            </tr>
                                            <tr class="gradeC">
                                                <td>KHTML</td>
                                                <td>Konqureror 3.1</td>
                                                <td class="hidden-xs">KDE 3.1</td>
                                                <td class="center">3.1</td>
                                                <td class="center hidden-xs">C</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>KHTML</td>
                                                <td>Konqureror 3.3</td>
                                                <td class="hidden-xs">KDE 3.3</td>
                                                <td class="center">3.3</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>KHTML</td>
                                                <td>Konqureror 3.5</td>
                                                <td class="hidden-xs">KDE 3.5</td>
                                                <td class="center">3.5</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td>Tasman</td>
                                                <td>Internet Explorer 4.5</td>
                                                <td class="hidden-xs">Mac OS 8-9</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">X</td>
                                            </tr>
                                            <tr class="gradeC">
                                                <td>Tasman</td>
                                                <td>Internet Explorer 5.1</td>
                                                <td class="hidden-xs">Mac OS 7.6-9</td>
                                                <td class="center">1</td>
                                                <td class="center hidden-xs">C</td>
                                            </tr>
                                            <tr class="gradeC">
                                                <td>Tasman</td>
                                                <td>Internet Explorer 5.2</td>
                                                <td class="hidden-xs">Mac OS 8-X</td>
                                                <td class="center">1</td>
                                                <td class="center hidden-xs">C</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Misc</td>
                                                <td>NetFront 3.1</td>
                                                <td class="hidden-xs">Embedded devices</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">C</td>
                                            </tr>
                                            <tr class="gradeA">
                                                <td>Misc</td>
                                                <td>NetFront 3.4</td>
                                                <td class="hidden-xs">Embedded devices</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">A</td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td>Misc</td>
                                                <td>Dillo 0.8</td>
                                                <td class="hidden-xs">Embedded devices</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">X</td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td>Misc</td>
                                                <td>Links</td>
                                                <td class="hidden-xs">Text only</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">X</td>
                                            </tr>
                                            <tr class="gradeX">
                                                <td>Misc</td>
                                                <td>Lynx</td>
                                                <td class="hidden-xs">Text only</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">X</td>
                                            </tr>
                                            <tr class="gradeC">
                                                <td>Misc</td>
                                                <td>IE Mobile</td>
                                                <td class="hidden-xs">Windows Mobile 6</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">C</td>
                                            </tr>
                                            <tr class="gradeC">
                                                <td>Misc</td>
                                                <td>PSP browser</td>
                                                <td class="hidden-xs">PSP</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">C</td>
                                            </tr>
                                            <tr class="gradeU">
                                                <td>Other browsers</td>
                                                <td class="hidden-xs">All others</td>
                                                <td>-</td>
                                                <td class="center">-</td>
                                                <td class="center hidden-xs">U</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Rendering engine</th>
                                                <th>Browser</th>
                                                <th class="hidden-xs">Platform(s)</th>
                                                <th>Engine version</th>
                                                <th class="hidden-xs">CSS grade</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <!-- /BOX -->
                        </div>
                    </div>
                    <!-- /DATA TABLES -->
                 
                    <!-- /EXPORT TABLES -->
                    <div class="footer-tools">
                        <span class="go-top">
                            <i class="fa fa-chevron-up"></i> Top
                        </span>
                    </div>
               
            </div>
        

<!--/PAGE -->
<!-- JAVASCRIPTS -->

<!-- DATA TABLES -->
<script type="text/javascript" src="~/Scripts/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/Scripts/datatables/media/assets/js/datatables.min.js"></script>
<script type="text/javascript" src="~/Scripts/datatables/extras/TableTools/media/js/TableTools.min.js"></script>
<script type="text/javascript" src="~/Scripts/datatables/extras/TableTools/media/js/ZeroClipboard.min.js"></script>

<script>
    jQuery(document).ready(function () {
        App.setPage("dynamic_table");  //Set current page
        App.init(); //Initialise plugins and elements
    });
</script>