
@{
    ViewBag.Title = "Error_404";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Cloud Admin | Error 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- STYLESHEETS --><!--[if lt IE 9]><script src="~/Scripts/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="~/Content/cloud-admin.css">
    <link rel="stylesheet" type="text/css" href="~/Content/responsive.css">

    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap-daterangepicker/daterangepicker-bs3.css" />
    <!-- FONTS -->
</head>
<body>
    <!-- PAGE -->
    <section id="page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="divide-100"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 not-found text-center">
                    <div class="error">
                        404
                    </div>
                </div>
                <div class="col-md-12 not-found text-center">
                    <div class="content">
                        <h3>服务器好像开小差了</h3>
                        <p>
                            对不起，您请求的页面丢了！等一会再来访问吧，或者联系一下管理员。
                            <br />
                            <h4><a href="/"> <<回到首页 </a></h4>
                        </p>
                        <form action="#"></form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/PAGE -->
    
</body>
</html>

